<ion-header>
  <ion-navbar>
    <ion-title>
      ABOUT
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">

 
  <ion-grid>

    <ion-row>
      <ion-col text-center>
        <div class="logo"><img src="assets/logo.png" width="100" /></div>
      </ion-col>
    </ion-row>
     

    <ion-row>
      <div class="text" [innerHtml]="about.description"></div>
    </ion-row>
    
  </ion-grid>


</ion-content>
