page-about {
  ion-grid {
    height: 100%;
    justify-content: center;
  }

  .text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.5vh;
    text-align: center;
    line-height: 5.5vh;
    padding: 4vh 5vw;
  }
}
