<div class="item">
  <a *ngIf="!image64" (click)="goTo(link)" target="_blank" [style.background-image]="'url(' + fixImage(image) + ')'">
    <span>{{title}}</span>
  </a>
  <a *ngIf="image64" (click)="goTo(link)" target="_blank" [style.background-image]="makeTrustedImage(image64)">
    <span>{{title}}</span>
  </a>
</div>