.item-content {
  overflow: hidden;
  margin: 0px;
  height: 33.2vw;
  width: calc(100% * (1/3) - 10px - 1px);
  flex-grow: 1;
  display: inline-block;
  border-top: 0.1vw white solid;

  &.item-border {
    border-left: 0.1vw white solid;
    border-right: 0.1vw white solid;
  }
}
.item {
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;

  a {

    height: 33.2vw;
    width: 100%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    overflow:hidden;

    display: block;

    span {
      position: absolute;
      bottom: 0px;
      left: 0px;
      color: white;
      font-family: 'San Francisco Display', Arial, Sans-serif;
      text-shadow: 1px 1px 1px #000;
      color: #fff;
      display: block;
      word-break: break-word;
      padding-bottom: 5px;
      text-transform: uppercase;
      padding: 10px;
      font-weight: bold;
      font-size: 9px;
    }
  }
}