<ion-header>
  <ion-navbar>
    <ion-title>
      CONTACT
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="">

  <form [formGroup]="form" (ngSubmit)="sendContact()">
    <ion-list>
      <ion-item>
        <ion-label fixed>E-mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Subject</ion-label>
        <ion-input type="text" formControlName="subject"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Text</ion-label>
        <ion-textarea formControlName="text"></ion-textarea>
      </ion-item>

    </ion-list>

    <div padding>
      <button ion-button color="primary" type="submit" [disabled]="!form.valid" block>Send</button>
    </div>
  </form>


</ion-content>