<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="header-content">
    <div class="logo"><img src="assets/logo.png" width="100" /></div>
    <ill-audio class="ill-audio" [mp3]="'http://live.on-ill.fm:8000/;stream.mp3'"></ill-audio>
  </div>

  <div class="content">
    <item 
      *ngFor="let post of posts"
      [title]="post.title"
      [link]="post.link"
      [image]="getImage(post.image)"
      [ngClass]="(posts.indexOf(post) - 1) % 3 === 0 ? 'item-border' : ''"
      [image64]="post.image_64"
      class="item-content"
    ></item>
  </div>  
</ion-content>


